.left {
  background-color: #1d1e22;
  display: flex;
  flex-direction: row;
  font-size: large;
}

@media only screen and (max-width: 900px) {
  .left {
    background-color: #1d1e22;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.name-style {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.name-style h1 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}
.name-style h1 em {
  color: #feda6a;
  font-style: normal;
  font-weight: 700;
}
.name-style p {
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 8px 0 0;
  text-align: center;
}
.name-style a {
  color: #feda6a;
  font-size: 0.75em;
  line-height: 1.5;
  margin: 0 8px 0 0;
  text-align: center;
}
.pic {
  margin-top: 5%;
  max-width: 20vw;
  border-radius: 10px;
}
